.current-day {
    background-color: turquoise;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weeks-day {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: paleturquoise;
    margin: 0;
    padding-bottom: 25px;
}

.day-number {
    font-size: 230px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: white;
}