.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid cadetblue;
    width: 55vw;
    height: 60vh;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}