.days {
    color: grey;
    font-size: 18px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.day-of-week {
    color: crimson;
    font-size: 18px;
    font-weight: 400;
}